<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
 				<!--                        Слой DAO                        -->
 				
	<bean id="streetDAO" class="org.andrew.malapura.daoImpl.JdbcStreetDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="houseDAO" class="org.andrew.malapura.daoImpl.JdbcHouseDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="flatDAO" class="org.andrew.malapura.daoImpl.JdbcFlatDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="personalAccountDAO" class="org.andrew.malapura.daoImpl.JdbcPersonalAccountDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="ownerDAO" class="org.andrew.malapura.daoImpl.JdbcOwnerDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
 	
</beans>